<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Log in</h1>
  <form method="POST" action="/api/users/auth">
    <label for="email">Email:</label>
    <input type="email"  name="email" required>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <button type="submit">Login</button>
  </form>
  <h1>sign up</h1>
  <form method="POST" action="/api/users/">
    <label for="name">Name:</label>
    <input type="text"  name="name" required>
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <button type="submit">Login</button>
  </form>
</body>
</html>
